.container {
  background-image: url('assets/background.png');
  width: 2000px;
  height: 1117px;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-areas:
    ". . . . . . . . . . . ."
    ". t t t t . o i i i i ."
    ". t t t t . o i i i i ."
    ". m m m m m m . . . . ."
    ". m m m m m m c c c c f"
    ". . . . . . . c c c c f";
  max-width: 1722px;
  min-height: 1117px;
  margin: 0 auto;
}

/* Grid Areas */
.cat { 
    grid-area: c;
    }
.base { 
    grid-area: b; 
    }
.image { 
    grid-area: i; 
    }
