.limelight-regular {
  font-family: "Limelight", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.container {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-areas:
    "t t t t t t t t t t t t"
    ". j j j j . o i i i i ."
    ". j j j j . o i i i i ."
    ". m m m m m m . . . . ."
    ". m m m m m m c c c c c"
    "b b b b b b b c c c c c";
  max-width: 1722px;
  min-height: 100vh;
  height: 100vh;
  margin: 0 auto;
}
body {
  margin: 0;
  min-height: 100vh;
  background: url('assets/background.png') center/cover no-repeat fixed;
}

.top-header {
  background: url('assets/top_leaf.png') top center/cover no-repeat;
  padding: 0.25rem 1.5rem 2rem;
  min-height: 180px;
  text-align: center;
}


body {
  padding-bottom: 0;
}
/* Grid Areas */
.cat { 
    grid-area: c;
    padding-left: 70%;
    }
.topLeaf { 
    grid-area: t; 
    }
.bottomleaf{ 
    grid-area: b;
     position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  background: url('assets/bottom_leaf.png') bottom center/cover no-repeat;
  padding: 0.5rem 1.5rem 3rem;
  min-height: 100px;
    }
html, body { 
  overflow: hidden; }

  .icon-container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}